<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "org/apache/ibatis/builder/xml/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.course.db.dao.CarDAO">
    <select id="getById" resultMap="">
        SELECT id, modelName, number, userId FROM Cars WHERE id = #{id}
    </select>
    <resultMap id="carResultMap" type="com.solvd.course.db.binary.Car">
        <id column="id" property="id"/>
        <result column="modelName" property="modelName"/>
        <result column="number" property="number"/>
        <result column="userId" property="userId"/>
    </resultMap>
</mapper>